# This file is loaded automatically when it is next to config.toml.
STALWART_SMTP_PASSWORD=change-me
STALWART_IMAP_PASSWORD=change-me
EXTERNAL_SMTP_PASSWORD=change-me
EXTERNAL_IMAP_PASSWORD=change-me
